This is Google's cache of http://mulesoft.github.io/servicenow-connector/4.0.1/java/com/servicenow/changemanagement/changerequestimac/package-summary.html. It is a snapshot of the page as it appeared on Nov 13, 2019 17:25:39 GMT. The current page could have changed in the meantime. Learn more.
Full versionText-only versionView source
Tip: To quickly find your search term on this page, press Ctrl+F or ⌘-F (Mac) and use the find bar.
<!DOCTYPE html>













































































































<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="description" content="Documentation for Mule ServiceNow Connector." />

<link rel="shortcut icon" type="image/x-icon" href="../../../../../favicon.ico" />
<title>

  com.servicenow.changemanagement.changerequestimac


| Mule ServiceNow Connector

</title>
<link href="../../../../../assets/mule-developer-docs.css" rel="stylesheet" type="text/css" />
<link href="../../../../../assets/mule-developer-prettify.css" rel="stylesheet" type="text/css" />
<link href="../../../../../assets/customizations.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
<script src="../../../../../assets/search_autocomplete.js" type="text/javascript"></script>
<script src="../../../../../assets/jquery-resizable.min.js" type="text/javascript"></script>
<script src="../../../../../assets/jquery-toc.js" type="text/javascript"></script>
<script src="../../../../../assets/mule-developer-docs.js" type="text/javascript"></script>
<script src="../../../../../assets/prettify.js" type="text/javascript"></script>
<script type="text/javascript">
  setToRoot("../../../../../", "../../../../../assets/");
</script>
<script src="../../../../../assets/mule-developer-reference.js" type="text/javascript"></script>
<script src="../../../../../assets/navtree_data.js" type="text/javascript"></script>
<script src="../../../../../assets/customizations.js" type="text/javascript"></script>
<noscript>
  <style type="text/css">
    html,body{overflow:auto;}
    #body-content{position:relative; top:0;}
    #doc-content{overflow:visible;border-left:3px solid #666;}
    #side-nav{padding:0;}
    #side-nav .toggle-list ul {display:block;}
    #resize-packages-nav{border-bottom:3px solid #666;}
  </style>
</noscript>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";
  feedback_widget_options.company = "mulesoft";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#2F74AE";
  feedback_widget_options.style = "question";

  feedback_widget_options.tag = "Mule ServiceNow Connector";

  feedback_widget_options.limit = "3";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</head>

<body class="">

<div id="header">
    <div id="headerLeft">

      <span id="masthead-title">Mule ServiceNow Connector</span>

    <ul id="header-tabs" class="java">

    	<li id="guide"><a href="../../../../../guide/install.html">
	    	<span class="en">Install Guide</span>
    	</a></li>

    	<li id="java"><a href="../../../../../java/packages.html">
	    	<span class="en">Java API Reference</span>
    	</a></li>

    	<li id="mule"><a href="../../../../../mule/modules.html">
	    	<span class="en">Mule API Reference</span>
    	</a></li>

    </ul>
    </div>
    <div id="headerRight">
      <a href="http://www.mulesoft.com" tabindex="-1">
      <img src="../../../../../assets//images/mulesoft-logo-final.gif" alt="MuleSoft" border="0" id="mulesoftlogo"></a><br/>

  <div id="searchContainer" >
      <div id="searchForm">
          <form accept-charset="utf-8" class="gsc-search-box"
                onsubmit="return submit_search()">
            <table class="gsc-search-box" cellpadding="0" cellspacing="0"><tbody>
                <tr>
                  <td class="gsc-input">
                    <input id="search_autocomplete" class="gsc-input" type="text" size="33" autocomplete="off"
                      title="search developer docs" name="q"
                      value="search developer docs"
                      onFocus="search_focus_changed(this, true)"
                      onBlur="search_focus_changed(this, false)"
                      onkeydown="return search_changed(event, true, '../../../../../')"
                      onkeyup="return search_changed(event, false, '../../../../../')" />
                  <div id="search_filtered_div" class="no-display">
                      <table id="search_filtered" cellspacing=0>
                      </table>
                  </div>
                  </td>
                  <td class="gsc-search-button">
                    <input type="submit" value="Search" title="search" id="search-button" class="gsc-search-button" />
                  </td>
                  <td class="gsc-clear-button">
                    <div title="clear results" class="gsc-clear-button">&nbsp;</div>
                  </td>
                </tr></tbody>
              </table>
          </form>
      </div><!-- searchForm -->
  </div><!-- search -->

    </div>
</div><!-- header -->


  <div class="g-section g-tpl-240" id="body-content">
    <div class="g-unit g-first side-nav-resizable" id="side-nav">
      <div id="swapper">
        <div id="nav-panels">
          <div id="resize-packages-nav">
            <div id="packages-nav">
              <div id="index-links">
                <a href="../../../../../java/packages.html"  >Package Index</a> |
                <a href="../../../../../java/classes.html" >Class Index</a>
              </div>
              <ul>

    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/asset/package-summary.html">com.servicenow.assetmanagement.asset</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/consumable/package-summary.html">com.servicenow.assetmanagement.consumable</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/entitlement/package-summary.html">com.servicenow.assetmanagement.entitlement</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/entitlementasset/package-summary.html">com.servicenow.assetmanagement.entitlementasset</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/entitlementuser/package-summary.html">com.servicenow.assetmanagement.entitlementuser</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/hardware/package-summary.html">com.servicenow.assetmanagement.hardware</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/license/package-summary.html">com.servicenow.assetmanagement.license</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/m2mstockroom/package-summary.html">com.servicenow.assetmanagement.m2mstockroom</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/stockroom/package-summary.html">com.servicenow.assetmanagement.stockroom</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/stockroomtype/package-summary.html">com.servicenow.assetmanagement.stockroomtype</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/transferorder/package-summary.html">com.servicenow.assetmanagement.transferorder</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/transferorderline/package-summary.html">com.servicenow.assetmanagement.transferorderline</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/assetmanagement/userstockroom/package-summary.html">com.servicenow.assetmanagement.userstockroom</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/blackoutschedule/package-summary.html">com.servicenow.changemanagement.blackoutschedule</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/changephase/package-summary.html">com.servicenow.changemanagement.changephase</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/changerequest/package-summary.html">com.servicenow.changemanagement.changerequest</a></li>
    <li class="selected api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/package-summary.html">com.servicenow.changemanagement.changerequestimac</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/changetask/package-summary.html">com.servicenow.changemanagement.changetask</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/maintenanceschedule/package-summary.html">com.servicenow.changemanagement.maintenanceschedule</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/changemanagement/riskconditions/package-summary.html">com.servicenow.changemanagement.riskconditions</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/contract/package-summary.html">com.servicenow.contractmanagement.contract</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/lease/package-summary.html">com.servicenow.contractmanagement.lease</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/licenseadobe/package-summary.html">com.servicenow.contractmanagement.licenseadobe</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/licensegeneric/package-summary.html">com.servicenow.contractmanagement.licensegeneric</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/licensemsft/package-summary.html">com.servicenow.contractmanagement.licensemsft</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/licensesymantec/package-summary.html">com.servicenow.contractmanagement.licensesymantec</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/service/package-summary.html">com.servicenow.contractmanagement.service</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/softwarelicense/package-summary.html">com.servicenow.contractmanagement.softwarelicense</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/contractmanagement/warranty/package-summary.html">com.servicenow.contractmanagement.warranty</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/incidentmanagement/incident/package-summary.html">com.servicenow.incidentmanagement.incident</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/orgmanagement/department/package-summary.html">com.servicenow.orgmanagement.department</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/problemmanagement/problem/package-summary.html">com.servicenow.problemmanagement.problem</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/allmodel/package-summary.html">com.servicenow.productcatalog.allmodel</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/applicationproductmodel/package-summary.html">com.servicenow.productcatalog.applicationproductmodel</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/consumableproductmodel/package-summary.html">com.servicenow.productcatalog.consumableproductmodel</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/corecompany/package-summary.html">com.servicenow.productcatalog.corecompany</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/hardwareproductmodel/package-summary.html">com.servicenow.productcatalog.hardwareproductmodel</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/pcproductcatitem/package-summary.html">com.servicenow.productcatalog.pcproductcatitem</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/pcvendorcatitem/package-summary.html">com.servicenow.productcatalog.pcvendorcatitem</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/productcatalog/softwareproductmodel/package-summary.html">com.servicenow.productcatalog.softwareproductmodel</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/servicecatalog/screqitem/package-summary.html">com.servicenow.servicecatalog.screqitem</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/servicecatalog/screquest/package-summary.html">com.servicenow.servicecatalog.screquest</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/ticketing/ticket/package-summary.html">com.servicenow.ticketing.ticket</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/usermanagement/sysuser/package-summary.html">com.servicenow.usermanagement.sysuser</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/usermanagement/sysusergrmember/package-summary.html">com.servicenow.usermanagement.sysusergrmember</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/com/servicenow/usermanagement/sysuserhasrole/package-summary.html">com.servicenow.usermanagement.sysuserhasrole</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/package-summary.html">org.mule.modules.servicenow</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/adapter/package-summary.html">org.mule.modules.servicenow.adapter</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/adapters/package-summary.html">org.mule.modules.servicenow.adapters</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/agents/package-summary.html">org.mule.modules.servicenow.agents</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/config/package-summary.html">org.mule.modules.servicenow.config</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/connection/package-summary.html">org.mule.modules.servicenow.connection</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/connectivity/package-summary.html">org.mule.modules.servicenow.connectivity</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/devkit/package-summary.html">org.mule.modules.servicenow.devkit</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/exception/package-summary.html">org.mule.modules.servicenow.exception</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/jdto/custom/package-summary.html">org.mule.modules.servicenow.jdto.custom</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/metadata/category/package-summary.html">org.mule.modules.servicenow.metadata.category</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/metadata/category/connection/package-summary.html">org.mule.modules.servicenow.metadata.category.connection</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/pooling/package-summary.html">org.mule.modules.servicenow.pooling</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/process/package-summary.html">org.mule.modules.servicenow.process</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/processors/package-summary.html">org.mule.modules.servicenow.processors</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/service/package-summary.html">org.mule.modules.servicenow.service</a></li>
    <li class="api apilevel-">
  <a href="../../../../../java/org/mule/modules/servicenow/service/factory/package-summary.html">org.mule.modules.servicenow.service.factory</a></li>
              </ul><br/>
            </div> <!-- end packages -->
          </div> <!-- end resize-packages -->
          <div id="classes-nav">
            <ul>

    <li><h2>Interfaces</h2>
      <ul>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ServiceNowSoap.html">ServiceNowSoap</a></li>
      </ul>
    </li>

    <li><h2>Classes</h2>
      <ul>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteMultiple.html">DeleteMultiple</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteMultipleResponse.html">DeleteMultipleResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteRecord.html">DeleteRecord</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteRecordResponse.html">DeleteRecordResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Get.html">Get</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetKeys.html">GetKeys</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetKeysResponse.html">GetKeysResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecords.html">GetRecords</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecordsResponse.html">GetRecordsResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecordsResponse.GetRecordsResult.html">GetRecordsResponse.GetRecordsResult</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetResponse.html">GetResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Insert.html">Insert</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/InsertResponse.html">InsertResponse</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ObjectFactory.html">ObjectFactory</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ServiceNowChangeRequestImac.html">ServiceNowChangeRequestImac</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Update.html">Update</a></li>
        <li class="api apilevel-"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/UpdateResponse.html">UpdateResponse</a></li>
      </ul>
    </li>




            </ul><br/>
          </div><!-- end classes -->
        </div><!-- end nav-panels -->
        <div id="nav-tree" style="display:none">
          <div id="index-links">
            <a href="../../../../../packages.html"  >Package Index</a> |
            <a href="../../../../../classes.html" >Class Index</a>
          </div>
        </div><!-- end nav-tree -->
      </div><!-- end swapper -->
    </div> <!-- end side-nav -->
    <script>
      if (!isMobile) {
        $("<a href='#' id='nav-swap' onclick='swapNav();return false;' style='font-size:10px;line-height:9px;margin-left:1em;text-decoration:none;'><span id='tree-link'>Use Tree Navigation</span><span id='panel-link' style='display:none'>Use Panel Navigation</span></a>").appendTo("#side-nav");
        chooseDefaultNav();
        if ($("#nav-tree").is(':visible')) {
          init_default_navtree("../../../../../");
        } else {
          addLoadEvent(function() {
            scrollIntoView("packages-nav");
            scrollIntoView("classes-nav");
          });
        }
        $("#swapper").css({borderBottom:"2px solid #aaa"});
      } else {
        swapNav(); // tree view should be used on mobile
      }
    </script>



<div class="g-unit" id="doc-content">

<div id="api-info-block">
<div class="api-level">






</div>
</div>

<div id="jd-header">
  package
  <h1>com.servicenow.changemanagement.changerequestimac</h1>
</div><!-- end header -->

<div id="naMessage"></div>

<div id="jd-content" class="api apilevel-">







    <h2>Interfaces</h2>
    <div class="jd-sumtable">

  <table class="jd-sumtable-expando">
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ServiceNowSoap.html">ServiceNowSoap</a></td>
              <td class="jd-descrcol" width="100%">This class was generated by Apache CXF 2.5.9
 2015-07-29T14:18:59.298-03:00
 Generated source version: 2.5.9

&nbsp;</td>
          </tr>
  </table>
    </div>




    <h2>Classes</h2>
    <div class="jd-sumtable">

  <table class="jd-sumtable-expando">
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteMultiple.html">DeleteMultiple</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteMultipleResponse.html">DeleteMultipleResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteRecord.html">DeleteRecord</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/DeleteRecordResponse.html">DeleteRecordResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Get.html">Get</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetKeys.html">GetKeys</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetKeysResponse.html">GetKeysResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecords.html">GetRecords</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecordsResponse.html">GetRecordsResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetRecordsResponse.GetRecordsResult.html">GetRecordsResponse.GetRecordsResult</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/GetResponse.html">GetResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Insert.html">Insert</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/InsertResponse.html">InsertResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ObjectFactory.html">ObjectFactory</a></td>
              <td class="jd-descrcol" width="100%">This object contains factory methods for each
 Java content interface and Java element interface
 generated in the com.servicenow.changemanagement.changerequestimac package.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/ServiceNowChangeRequestImac.html">ServiceNowChangeRequestImac</a></td>
              <td class="jd-descrcol" width="100%">This class was generated by Apache CXF 2.5.9
 2015-07-29T14:18:59.305-03:00
 Generated source version: 2.5.9

&nbsp;</td>
          </tr>
        <tr class=" api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/Update.html">Update</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
        <tr class="alt-color api apilevel-" >
              <td class="jd-linkcol"><a href="../../../../../java/com/servicenow/changemanagement/changerequestimac/UpdateResponse.html">UpdateResponse</a></td>
              <td class="jd-descrcol" width="100%"><p>Java class for anonymous complex type.&nbsp;</td>
          </tr>
  </table>
    </div>












<div id="footer">
Generated by <a href="http://www.mulesoft.com/devkit">Mule DevKit</a>. Document generation technology based on <a href="http://code.google.com/p/doclava/">Google's Doclava</a>.
</div> <!-- end footer -->

</div><!-- end jd-content -->
</div><!-- doc-content -->

</div> <!-- end body-content -->

<script type="text/javascript">
init(); /* initialize mule-developer-docs.js */
</script>

</body>
</html>
