<ng-template #instructions>
  <ol>
      <li class="align-text-top">
        Navigate to
        <samp>System Applications</samp> &rArr;
        <samp>Studio</samp>. Once you click on
        <samp>Studio</samp>, the application studio will open in separate browser tab.
        <button (click)="openFigure('Example of navigation', 'assets/images/initialConfig/systemApplicationsStudio_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/systemApplicationsStudio_sm.png" alt="Click to view example of navigation" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li class="align-text-top">
        Click on the
        <samp>Import from Source Control</samp> button in the popup dialog.
        <button (click)="openFigure('Example of Select Application dialog', 'assets/images/initialConfig/importFromSourceControl_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importFromSourceControl_sm.png" alt="Click to view example of Select Application dialog"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">
        <ng-container *ngIf="hasRepositoryUrl; else noRepositoryUrl">
          Enter <kbd>{{repositoryUrl}}</kbd> as the URL to the source repository.
        </ng-container>
        <ng-template #noRepositoryUrl>
            Enter the URL to the repository of the application to import.
        </ng-template>
      </li>
      <li class="align-text-top">Enter credentials for connecting to the associated Git repository.
        <button (click)="openFigure('Example of git credentials dialog', 'assets/images/initialConfig/importApplicationDialog_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importApplicationDialog_sm.png" alt="Click to view example of git credentials dialog"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">Progress will be indicated as it imports the application. Once it is finished, click the
        <samp>Select Application</samp> button.
        <button (click)="openFigure('Example of application import progress', 'assets/images/initialConfig/gitImportProgress_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/gitImportProgress_sm.png" alt="Click to view example of application import progress"
            class="figure-img img-fluid rounded" />
        </button>
        &rArr;
        <button (click)="openFigure('Example of application import success', 'assets/images/initialConfig/gitImportSuccess_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/gitImportSuccess_sm.png" alt="Click to view example of application import success"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">You should now see the imported application listed.
        <button (click)="openFigure('Example of application selections', 'assets/images/initialConfig/selectApplicationDialog_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/selectApplicationDialog_sm.png" alt="Click to view example of application selections"
            class="figure-img img-fluid rounded" />
        </button>
        &rArr;
        <button (click)="openFigure('Example of selected application', 'assets/images/initialConfig/importApplicationComplete_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importApplicationComplete_sm.png" alt="Click to view example of selected application"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
    </ol>
  </ng-template>
  <ng-container *ngIf="activeModal; else notModal">
    <div class="modal-header" *ngIf="nestedPopupOpen === false &amp;&amp; titleText !== null &amp;&amp; titleText.trim().length > 0">
      <h4 class="modal-title">{{titleText}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="nestedPopupOpen === false">
      <ng-container *ngTemplateOutlet="instructions"></ng-container>
    </div>
    <div class="modal-footer" *ngIf="nestedPopupOpen === false">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </ng-container>
  <ng-template #notModal>
    <h2 *ngIf="titleText !== null &amp;&amp; titleText.trim().length > 0">{{titleText}}</h2>
    <ng-container *ngTemplateOutlet="instructions"></ng-container>
  </ng-template>
