Task [task] <a href="https://dev79240.service-now.com/task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=4bdfeb85db110010f13861ca0b9619a8" target="_blank">Open table definition</a>
<ul>
    <li>Action [project_action] <a href="https://dev79240.service-now.com/project_action_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=d137781ddb110010f13861ca0b96195a" target="_blank">Open table definition</a>
        <strong>Project Management</strong>
    </li>
    <li>BudgetTask [itfm_budget_task] <a href="https://dev79240.service-now.com/itfm_budget_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a647785ddb110010f13861ca0b96198d" target="_blank">Open table definition</a>
        <strong>Financial Management</strong>
    </li>
    <li>CatalogTask [sc_task] <a href="https://dev79240.service-now.com/sc_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a453ff05dbd10010f13861ca0b96199d" target="_blank">Open table definition</a>
        <strong>Service Catalog</strong>
    </li>
    <li>Change Phase [change_phase] <a href="https://dev79240.service-now.com/change_phase_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=2e8277cddb910010f13861ca0b9619f0" target="_blank">Open table definition</a>
        <strong>Change Management</strong>
    </li>
    <li>Change Request [change_request] <a href="https://dev79240.service-now.com/change_request_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=7682b7cddb910010f13861ca0b961900" target="_blank">Open table definition</a>
        <strong>Change Management</strong>
        <ul>
            <li>IMAC [change_request_imac] <a href="https://dev79240.service-now.com/change_request_imac_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=7e82b7cddb910010f13861ca0b961937" target="_blank">Open table definition</a>
                <strong>Change Management</strong>
            </li>
        </ul>
    </li>
    <li>ChangeTask [change_task] <a href="https://dev79240.service-now.com/change_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=2e8277cddb910010f13861ca0b9619e4" target="_blank">Open table definition</a>
        <strong>Change Management</strong>
    </li>
    <li>Chat Queue Entry [chat_queue_entry] <a href="https://dev79240.service-now.com/chat_queue_entry_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a8efaf85db110010f13861ca0b9619c9" target="_blank">Open table definition</a>
    </li>
    <li>
        CommunicationTask [comm_task] <a href="https://dev79240.service-now.com/comm_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=f5a9bc59db910010f13861ca0b9619e7" target="_blank">Open table definition</a>
        <ul>
            <li>Incident
                CommunicationTask [incident_alert_task] <a href="https://dev79240.service-now.com/incident_alert_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=96a93099db910010f13861ca0b961914" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>Demand [dmn_demand] <a href="https://dev79240.service-now.com/dmn_demand_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=66373c1ddb110010f13861ca0b96195e" target="_blank">Open table definition</a>
        <strong>Demand Management</strong>
    </li>
    <li>FeatureTask [release_task] <a href="https://dev79240.service-now.com/release_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=3792ffcddb910010f13861ca0b961942" target="_blank">Open table definition</a>
    </li>
    <li>Follow OnTask [cert_follow_on_task] <a href="https://dev79240.service-now.com/cert_follow_on_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=9072f78ddb910010f13861ca0b961998" target="_blank">Open table definition</a>
    </li>
    <li>Group approval [sysapproval_group] <a href="https://dev79240.service-now.com/sysapproval_group_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=7ba2f701dbd10010f13861ca0b96194a" target="_blank">Open table definition</a>
    </li>
    <li>Guided
        SetupTask [gsw_task] <a href="https://dev79240.service-now.com/gsw_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=16357745db150010f13861ca0b961949" target="_blank">Open table definition</a>
    </li>
    <li>Idea [idea] <a href="https://dev79240.service-now.com/idea_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=96373c1ddb110010f13861ca0b961910" target="_blank">Open table definition</a>
    </li>
    <li>Incident [incident] <a href="https://dev79240.service-now.com/incident_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=e98237cddb910010f13861ca0b961993" target="_blank">Open table definition</a>
    </li>
    <li>IncidentTask [incident_task] <a href="https://dev79240.service-now.com/incident_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=e18237cddb910010f13861ca0b961989" target="_blank">Open table definition</a>
    </li>
    <li>Issue [issue] <a href="https://dev79240.service-now.com/issue_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a137781ddb110010f13861ca0b9619eb" target="_blank">Open table definition</a>
    </li>
    <li>Kb Submission [kb_submission] <a href="https://dev79240.service-now.com/kb_submission_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=b0433b05dbd10010f13861ca0b961977" target="_blank">Open table definition</a>
    </li>
    <li>Knowledge
        FeedbackTask [kb_feedback_task] <a href="https://dev79240.service-now.com/kb_feedback_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=8b647bcddbd10010f13861ca0b9619bc" target="_blank">Open table definition</a>
    </li>
    <li>Orphan CI Remediation [orphan_ci_remediation] <a href="https://dev79240.service-now.com/orphan_ci_remediation_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=2b6137c9db510010f13861ca0b9619f6" target="_blank">Open table definition</a>
    </li>
    <li>PlannedTask [planned_task] <a href="https://dev79240.service-now.com/planned_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=2217f4d9db110010f13861ca0b9619f2" target="_blank">Open table definition</a>
        <ul>
            <li>Decision [dmn_decision] <a href="https://dev79240.service-now.com/dmn_decision_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a6373c1ddb110010f13861ca0b961921" target="_blank">Open table definition</a>
            </li>
            <li>Feature [rm_feature] <a href="https://dev79240.service-now.com/rm_feature_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=c71738d9db110010f13861ca0b9619b1" target="_blank">Open table definition</a>
                <ul>
                    <li>Defect [rm_defect] <a href="https://dev79240.service-now.com/rm_defect_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=171778d9db110010f13861ca0b961948" target="_blank">Open table definition</a>
                    </li>
                    <li>
                        DocumentationTask [rm_doc] <a href="https://dev79240.service-now.com/rm_doc_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=9f1738d9db110010f13861ca0b9619ec" target="_blank">Open table definition</a>
                    </li>
                    <li>Enhancement
                        [rm_enhancement] <a href="https://dev79240.service-now.com/rm_enhancement_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=0b1738d9db110010f13861ca0b9619d8" target="_blank">Open table definition</a>
                    </li>
                    <li>Epic [rm_epic] <a href="https://dev79240.service-now.com/rm_epic_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=ef1778d9db110010f13861ca0b9619cc" target="_blank">Open table definition</a>
                    </li>
                    <li>Story [rm_story] <a href="https://dev79240.service-now.com/rm_story_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=231778d9db110010f13861ca0b9619ad" target="_blank">Open table definition</a>
                    </li>
                    <li>
                        TestingTask [rm_test] <a href="https://dev79240.service-now.com/rm_test_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=1b1778d9db110010f13861ca0b961900" target="_blank">Open table definition</a>
                    </li>
                </ul>
            </li>
            <li>Planned
                testtask [sn_test_management_planned_task] <a href="https://dev79240.service-now.com/sn_test_management_planned_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=bf9c3851db550010f13861ca0b96197a" target="_blank">Open table definition</a>
                <ul>
                    <li>Test cycle [sn_test_management_test_cycle] <a href="https://dev79240.service-now.com/sn_test_management_test_cycle_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=339c3851db550010f13861ca0b961990" target="_blank">Open table definition</a>
                    </li>
                    <li>Test execution
                        suite [sn_test_management_test_execution_suite] <a href="https://dev79240.service-now.com/sn_test_management_test_execution_suite_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=0cac7851db550010f13861ca0b96190a" target="_blank">Open table definition</a>
                    </li>
                    <li>Test plan [sn_test_management_test_plan] <a href="https://dev79240.service-now.com/sn_test_management_test_plan_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=339c3851db550010f13861ca0b9619a5" target="_blank">Open table definition</a>
                    </li>
                </ul>
            </li>
            <li>Product [rm_product] <a href="https://dev79240.service-now.com/rm_product_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=8b1738d9db110010f13861ca0b96199e" target="_blank">Open table definition</a>
            </li>
            <li>Program [pm_program] <a href="https://dev79240.service-now.com/pm_program_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=d547745ddb110010f13861ca0b961960" target="_blank">Open table definition</a>
            </li>
            <li>
                ProgramTask [pm_program_task] <a href="https://dev79240.service-now.com/pm_program_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=1147745ddb110010f13861ca0b96198e" target="_blank">Open table definition</a>
            </li>
            <li>Project [pm_project] <a href="https://dev79240.service-now.com/pm_project_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=c937381ddb110010f13861ca0b9619c4" target="_blank">Open table definition</a>
            </li>
            <li>
                ProjectTask [pm_project_task] <a href="https://dev79240.service-now.com/pm_project_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=8d37381ddb110010f13861ca0b9619a4" target="_blank">Open table definition</a>
                <ul>
                    <li>
                        ProjectTaskLink
                        [ <a href="https://dev79240.service-now.com/snd_xplore.do#show"
                            data-show="=pm_project_task_link">pm_project_task_link</a>] <a href="https://dev79240.service-now.com/pm_project_task_link_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=9d37781ddb110010f13861ca0b96190b" target="_blank">Open table definition</a>
                    </li>
                </ul>
            </li>
            <li>Release [rm_release] <a href="https://dev79240.service-now.com/rm_release_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=4b1738d9db110010f13861ca0b961969" target="_blank">Open table definition</a>
                <ul>
                    <li>Release Phase
                        [rm_release_phase] <a href="https://dev79240.service-now.com/rm_release_phase_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=cb1738d9db110010f13861ca0b96198a" target="_blank">Open table definition</a>
                    </li>
                    <li>SDLC release
                        [rm_release_sdlc] <a href="https://dev79240.service-now.com/rm_release_sdlc_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=d31778d9db110010f13861ca0b961914" target="_blank">Open table definition</a>
                    </li>
                    <li>Scrum release
                        [rm_release_scrum] <a href="https://dev79240.service-now.com/rm_release_scrum_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=231778d9db110010f13861ca0b961981" target="_blank">Open table definition</a>
                    </li>
                    <li>Sprint [rm_sprint] <a href="https://dev79240.service-now.com/rm_sprint_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=631778d9db110010f13861ca0b9619e0" target="_blank">Open table definition</a>
                    </li>
                </ul>
            </li>
            <li>
                ReleaseTask [rm_task] <a href="https://dev79240.service-now.com/rm_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=071738d9db110010f13861ca0b9619c4" target="_blank">Open table definition</a>
                <ul>
                    <li>
                        Scrumtask [rm_scrum_task] <a href="https://dev79240.service-now.com/rm_scrum_task_list.do" target="_blank">Open
                            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=68273cd9db110010f13861ca0b9619e3" target="_blank">Open table definition</a>
                    </li>
                </ul>
            </li>
            <li>Requirement [dmn_requirement] <a href="https://dev79240.service-now.com/dmn_requirement_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=66373c1ddb110010f13861ca0b961970" target="_blank">Open table definition</a>
            </li>
            <li>Test Case [tm_test_case_instance] <a href="https://dev79240.service-now.com/tm_test_case_instance_list.do" target="_blank">Open
                    list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=4547345ddb110010f13861ca0b96196c" target="_blank">Open table definition</a>
            </li>
            <li>Test Plan [tm_test_plan] <a href="https://dev79240.service-now.com/tm_test_plan_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=c147345ddb110010f13861ca0b96198c" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>PrivateTask [vtb_task] <a href="https://dev79240.service-now.com/vtb_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=57df2f85db110010f13861ca0b961994" target="_blank">Open table definition</a>
    </li>
    <li>Problem [problem] <a href="https://dev79240.service-now.com/problem_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=b482f3cddb910010f13861ca0b9619ef" target="_blank">Open table definition</a>
    </li>
    <li>ProblemTask [problem_task] <a href="https://dev79240.service-now.com/problem_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=ef04f7c9dbd10010f13861ca0b96194c" target="_blank">Open table definition</a>
    </li>
    <li>Project Change Request [project_change_request] <a href="https://dev79240.service-now.com/project_change_request_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=5a37f81ddb110010f13861ca0b9619a7" target="_blank">Open table definition</a>
    </li>
    <li>
        ReclassificationTask [reclassification_task] <a href="https://dev79240.service-now.com/reclassification_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=c590b78ddb110010f13861ca0b961909" target="_blank">Open table definition</a>
    </li>
    <li>Recommended Field Remediation
        [recommended_field_remediation] <a href="https://dev79240.service-now.com/recommended_field_remediation_list.do" target="_blank">Open
            list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=12907b8ddb110010f13861ca0b9619b9" target="_blank">Open table definition</a>
    </li>
    <li>Reconcile
        DuplicateTask [reconcile_duplicate_task] <a href="https://dev79240.service-now.com/reconcile_duplicate_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=afc020dceb2303007c94efc9a206fe09" target="_blank">Open table definition</a>
    </li>
    <li>Release Phase [release_phase] <a href="https://dev79240.service-now.com/release_phase_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=f392ffcddb910010f13861ca0b961932" target="_blank">Open table definition</a>
    </li>
    <li>Renew
        LeaseTask [statemgmt_renew_lease_task] <a href="https://dev79240.service-now.com/statemgmt_renew_lease_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=d961ff89db510010f13861ca0b961933" target="_blank">Open table definition</a>
    </li>
    <li>Request [sc_request] <a href="https://dev79240.service-now.com/sc_request_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=4e53b345dbd10010f13861ca0b961966" target="_blank">Open table definition</a>
        <ul>
            <li>Request new Knowledge
                Base [kb_knowledge_base_request] <a href="https://dev79240.service-now.com/kb_knowledge_base_request_list.do" target="_blank">Open
                    list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=df64bbcddbd10010f13861ca0b961927" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>Requested Item [sc_req_item] <a href="https://dev79240.service-now.com/sc_req_item_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=3153b345dbd10010f13861ca0b961904" target="_blank">Open table definition</a>
    </li>
    <li>Required Field Remediation [required_field_remediation] <a href="https://dev79240.service-now.com/required_field_remediation_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=b1e03bc1db510010f13861ca0b9619e3" target="_blank">Open table definition</a>
    </li>
    <li>Security Case [sn_ti_case] <a href="https://dev79240.service-now.com/sn_ti_case_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=c89ab0d1dbd10010f13861ca0b96195a" target="_blank">Open table definition</a>
    </li>
    <li>Security Request [sn_si_request] <a href="https://dev79240.service-now.com/sn_si_request_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=09aab015dbd10010f13861ca0b961969" target="_blank">Open table definition</a>
        <ul>
            <li>Security Scan Request
                [sn_si_scan_request] <a href="https://dev79240.service-now.com/sn_si_scan_request_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=75aa3415dbd10010f13861ca0b961944" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>Service Order [sm_order] <a href="https://dev79240.service-now.com/sm_order_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=b35af051dbd10010f13861ca0b96193b" target="_blank">Open table definition</a>
        <ul>
            <li>Security Incident [sn_si_incident] <a href="https://dev79240.service-now.com/sn_si_incident_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=98aafcd1dbd10010f13861ca0b961996" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>Service
        OrderTask [sm_task] <a href="https://dev79240.service-now.com/sm_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=2b5ab051dbd10010f13861ca0b961979" target="_blank">Open table definition</a>
        <ul>
            <li>Security Incident
                ResponseTask [sn_si_task] <a href="https://dev79240.service-now.com/sn_si_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=a4aa3015dbd10010f13861ca0b9619d7" target="_blank">Open table definition</a>
            </li>
        </ul>
    </li>
    <li>ServiceTask [service_task] <a href="https://dev79240.service-now.com/service_task_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=13a3bfc5dbd10010f13861ca0b96199f" target="_blank">Open table definition</a>
    </li>
    <li>Stale CI Remediation [stale_ci_remediation] <a href="https://dev79240.service-now.com/stale_ci_remediation_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=cca0bf8ddb110010f13861ca0b96199c" target="_blank">Open table definition</a>
    </li>
    <li>Standard Change Proposal [std_change_proposal] <a href="https://dev79240.service-now.com/std_change_proposal_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=3ad4bf81db150010f13861ca0b96191a" target="_blank">Open table definition</a>
    </li>
    <li>Ticket [ticket] <a href="https://dev79240.service-now.com/ticket_list.do" target="_blank">Open list</a> <a href="https://dev79240.service-now.com/sys_db_object.do?sys_id=e662378ddb910010f13861ca0b961997" target="_blank">Open table definition</a>
    </li>
</ul>
