<div class="modal-header" *ngIf="titleText !== null &amp;&amp; titleText.trim().length > 0">
  <h4 class="modal-title">{{titleText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template ngFor let-item [ngForOf]="templateContent">
    <ng-container [ngSwitch]="item.type">
      <p *ngSwitchCase="'p'">
          <ng-template ngFor let-item [ngForOf]="content">
            <img *ngIf="item.type=='figure'; else notFigureTemplate" class="figure-img img-fluid rounded" src="{{item.src}}" alt="{{item.alt}}" />
            <ng-template #notFigureTemplate>
                <strong *ngIf="item.bold; else textNotBoldTemplate">{{item.text}}</strong>
            </ng-template>
          </ng-template>
      </p>
      <img *ngSwitchCase="'figure'" class="figure-img img-fluid rounded" src="{{item.src}}" alt="{{item.alt}}" />
      <ng-container *ngSwitchDefault>
          <strong *ngIf="item.bold; else textNotBoldTemplate">{{item.text}}</strong>
      </ng-container>
    </ng-container>
    <ng-template #textNotBoldTemplate>{{item.text}}</ng-template>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
