<div class="card">
  <div class="card-header">
    <h2 id="loadInitialGlobalUpdate">1. Initial Global Update Set</h2>
  </div>
  <div class="card-body">
    <div class="detail">Load and apply the initial global update set.</div>
    <ol>
      <li class="align-text-top">
        Navigate to
        <samp>System Update Sets</samp> &rArr;
        <samp>Retrieved Update Sets</samp>
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal"
          data-target="#relatedLinksModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/relatedLinks_sm.png" alt="View navigation and related links example"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="relatedLinksModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Navigation and related links example</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/relatedLinks_lg.png" alt="Navigation and related links example" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">Click on
        <samp>Import Update Set from XML</samp> under
        <em>Related Links</em>
      </li>
      <li class="align-text-top">Click on the
        <samp>Choose File</samp> button and upload the
        <a href="downloads/sys_remote_update_set_Initial_Setup.xml" target="_blank">sys_remote_update_set_Initial_Setup.xml</a> File in the
        <var>downloads</var> folder of this documentation.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of file upload dialog"
          data-target="#chooseFileModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/chooseFile_sm.png" alt="View example of file upload dialog"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="chooseFileModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of file upload dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/chooseFile_lg.png" alt="Example of file upload dialog" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">Once it is loaded, open the update set and click the
        <samp>Preview Update Set</samp> button.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of uploaded upset set"
          data-target="#uploadedModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/uploaded_sm.png" alt="View example of uploaded upset set"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="uploadedModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of uploaded upset set</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/uploaded_lg.png" alt="Example of uploaded upset set" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        &rArr;
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of preview success popup"
          data-target="#previewSuccessModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/previewSuccess_sm.png" alt="View example of preview success popup"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="previewSuccessModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of preview success popup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/previewSuccess_lg.png" alt="Example of preview success popup" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">After it is validated, click the
        <samp>Commit Update Set</samp> to apply it.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of commit success popup"
          data-target="#commitSuccessModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/commitSuccess_sm.png" alt="View example of commit success popup"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="commitSuccessModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of commit success popup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/previewSuccess_lg.png" alt="Example of commit success popup" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importUtils">2. Import Utility Application</h2>
  </div>
  <div class="card-body">
    <ol>
      <li class="align-text-top">
        Navigate to
        <samp>System Applications</samp> &rArr;
        <samp>Studio</samp>. Once you click on
        <samp>Studio</samp>, the application studio will open in separate browser tab.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of navigation"
          data-target="#systemApplicationStudioModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/systemApplicationsStudio_sm.png" alt="Example of navigation"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="systemApplicationStudioModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of navigation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/systemApplicationsStudio_lg.png" alt="Example of navigation" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">
        Click on the
        <samp>Import from Source Control</samp> button in the popup dialog.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example popup dialog"
          data-target="#importFromSourceControlModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/importFromSourceControl_sm.png" alt="Example of navigation"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="importFromSourceControlModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of Select Application dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/importFromSourceControl_lg.png" alt="Example of Select Application dialog" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">Enter credentials for connecting to the associated Git repository.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of git credentials dialog"
          data-target="#importApplicationDialogModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/importApplicationDialog_sm.png" alt="View example of git credentials dialog"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="importApplicationDialogModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of git credentials dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/importApplicationDialog_lg.png" alt="Example of git credentials dialog" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">Progress will be indicated as it imports the application. Once it is finished, click the
        <samp>Select Application</samp> button.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of application import progress"
          data-target="#gitImportProgressModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/gitImportProgress_sm.png" alt="View example of application import progress"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="gitImportProgressModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of application import progress</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/gitImportProgress_lg.png" alt="Example of application import progress" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        &rArr;
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of application import success"
          data-target="#gitImportSucessModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/gitImportSuccess_sm.png" alt="View example of application import success"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="gitImportSucessModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of application import success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/gitImportSuccess_lg.png" alt="Example of application import success" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">You should now see the imported application listed. Select the application in order to put your session in the correct
        scope, and then close out the
        <samp>Application Studio</samp> browser tab.
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of application selection dialog"
          data-target="#selectApplicationDialogModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/selectApplicationDialog_sm.png" alt="View example of application selection dialog"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="selectApplicationDialogModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of selected application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/importApplicationComplete_lg.png" alt="Example of selected application" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        &rArr;
        <button type="button" class="btn d-inline-flex align-top btn-outline-info mb-1 bg-light" data-toggle="modal" title="Click to view example of selected application"
          data-target="#importApplicationCompleteModal">
          <img class="figure-img img-fluid rounded" src="assets/images/initialConfig/importApplicationComplete_sm.png" alt="View example of selected application"
          />
        </button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="importApplicationCompleteModal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Example of application selection dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="assets/images/initialConfig/selectApplicationDialog_lg.png" alt="Example of application selection dialog" class="figure-img img-fluid rounded"
                />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="align-text-top">In the previous browser tab, your session will now be in the Utility application scope. You will want to be in this
        scope for the next section. Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>General Properties</samp>
        and change the
        <samp>SDLC Stage</samp> setting to reflect the stage (production, uat, dev, etc) of the current ServiceNow instance.
      </li>
      <li class="align-text-top">Navigate to
        <samp>???</samp> &rArr;
        <samp>Fix Scripts</samp> and select the Fix Script named
        <samp>Initial Army Config</samp>.
      </li>
      <li class="align-text-top">This script will take a few minutes to execute, so it will be your choice if you wish to run it in the foreground or
        you can run it in the background and check the status, later. If you run it in the background, you can check its
        status by navigating to
        <samp>???</samp> &rArr;
        <samp>Progress Workers</samp>.
      </li>
      <li class="align-text-top">Once this script is finished, the colors scheme will be configured for the current environment. If you run it in the
        background, you can check its status by navigating to
        <samp>???</samp> &rArr;
        <samp>Progress Workers</samp>.
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="uiconfig">3. Initial Config</h2>
  </div>
  <div class="card-body">
    <ol>
      <li>Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>General Properties</samp>. If you are in the &quot;Util&quot; application scope, you will see the following message:
        <img src="assets/images/initialConfig/globalApplicationWarning.png" alt="Example of application selection dialog" class="figure-img img-fluid rounded"
        /> This is intentional. If you do not see this message, ensure you are in &quot;Util&quot; application scope.
      </li>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Initial Army Config</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take several minutes to finish.</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="pluginActivate">4. Bulk Plugin Activation</h2>
  </div>
  <div class="card-body">
    <ol>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Army Bulk Plugin Activation</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take a long time to finish.</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importGrpNameReg">5. Import Group Names Registry Application</h2>
  </div>
  <div class="card-body">
  </div>
</div>
