<div class="card">
  <div class="card-header">
    <h2 id="loadInitialGlobalUpdate">1. Initial Global Update Set</h2>
  </div>
  <div class="card-body">
    <div class="detail">Load and apply the <a href="{{howtoImportUpdateSetFolder}}/{{howtoImportUpdateSetFileName}}" target="_blank">{{howtoImportUpdateSetFileName}}</a> File in the
      <var>downloads</var> folder of this documentation to apply the initial global update set, which prepares the ServiceNow instance.</div>
      <div><button (click)="openHowtoImportUpdateSet()" class="btn btn-outline-primary mb-2 mr-2">Click Here</button> to view instructions for applying update sets.</div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importUtils">2. Import Utility Application</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will be importing a utility application which includes many utility framework functionality to support
      other scripts. This will also create a custom system property which can be used by automated processes to determine
      whether the current instance is for production, UAT, Testing, Development or if it is a sandbox instance.</div>
    <ol>
      <li>Import the util application from <kbd>{{utilRepositoryUrl}}</kbd>.
        <div><button (click)="openHowtoImportApplication('util')" class="btn btn-outline-primary mb-2 mr-2">Click Here</button> to view instructions for importing applications from source countrol.</div>
      </li>
      <li>Once the appplication is imported, select that application in order to put your session in the correct
        scope, and then close out the <samp>Application Studio</samp> browser tab.</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="uiconfig">3. Initial Config</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will specify whether the current instance is for production, UAT, Testing, Development or if it is a
      sandbox instance, and then you will execute a fix script to apply the corresponding color theme and other SDLC-related
      settings, such as the logo heading text.</div>
    <ol>
      <li>Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>Basic Configuration</samp>. If you are in the &quot;Util&quot; application scope, you will see the following message:
        <img src="assets/images/initialConfig/globalApplicationWarning.png" alt="Example of application selection dialog" class="figure-img img-fluid rounded"
        /> This is intentional. It is important to ensure you are in the &quot;Util&quot; application scope, otherwise the
        next change will not be saved.
      </li>
      <li>Set SDLC Config Stage to the ServiceNow SDLC stage for the current server.</li>
      <li>Change to the &quot;Global&quot; application scope.</li>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Initial Army Config</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take several minutes to finish. If
        you chose to let it run in the foreground, the logged output that occurred during script execution will be displayed
        when it is finished. At the bottom of the output, you should see a line that indicates it has succeeded.
        <br />
        <button (click)="openFigure('Example of completed fix script', 'assets/images/initialConfig/initialArmyConfigSuccess_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/initialArmyConfigSuccess_sm.png" alt="Click to view example of completed fix script"
            class="figure-img img-fluid rounded" />
        </button> Refresh the browser page to see the applied color scheme.
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="uploadLogoImage">4. Upload logo image</h2>
  </div>
  <div class="card-body">
    <div class="detail">To automate configuration settings for graphical images, it would require significant overhead. Therefore, the logo image
      will need to be uploaded manually.</div>
    <ol>
      <li>Ensure you are in the &quot;Global&quot; application scope.</li>
      <li>Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>Basic Configuration</samp>.
      </li>
      <li>Scroll to the &quot;Banner Image&quot; property and click on the
        <samp>+</samp> icon to upload the banner image.
        <button (click)="openFigure('Example of banner image setting', 'assets/images/initialConfig/bannerImageSetting_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/bannerImageSetting_sm.png" alt="Click to view example of banner image setting" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li>Upload the logo image corresponding to the SDLC stage you previously configured. You can download an image from one
        of the following links:
        <ul>
          <li>
            <a href="assets/downloads/Logo/logo_army_prod.png">
              <img src="assets/downloads/Logo/logo_army_prod.png" alt="Production Banner Logo" class="figure-img img-fluid rounded"
              /> Production
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_uat.png">
              <img src="assets/downloads/Logo/logo_army_uat.png" alt="UAT Banner Logo" class="figure-img img-fluid rounded"
              /> UAT
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_test.png">
              <img src="assets/downloads/Logo/logo_army_test.png" alt="Test Banner Logo" class="figure-img img-fluid rounded"
              /> Test
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_dev.png">
              <img src="assets/downloads/Logo/logo_army_dev.png" alt="Dev Banner Logo" class="figure-img img-fluid rounded"
              /> Dev
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_sb.png">
              <img src="assets/downloads/Logo/logo_army_sb.png" alt="Sandbox Banner Logo" class="figure-img img-fluid rounded"
              /> Sandbox
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_service-now.png">
              <img src="assets/downloads/Logo/logo_service-now.png" alt="OOTB Banner Logo" class="figure-img img-fluid rounded"
              /> Out-of-the-box
            </a>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="pluginActivate">5. Bulk Plugin Activation</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will launch a fix script which will activate plugins in the background. Plugin activation progress can
      be monitored from the progress workers list.</div>
    <ol>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Army Bulk Plugin Activation</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take a long time to finish.</li>
    </ol>
    <div class="detail">To monitor the progress of plugin activations, navigate to
      <samp>System Diagnostics</samp> &rArr;
      <samp>Progress Workers</samp>.</div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importAdImport">6. Configure Active Directory Import</h2>
  </div>
  <div class="card-body">
    <div class="detail"></div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importGrpNameReg">7. Import Group Names Registry Application</h2>
  </div>
  <div class="card-body">
    <div class="detail">The Group Names Registry applications provides a way of synchronizing User Group references between ServiceNow instances,
      such as Dev, Test and Production.</div>
    <ol>
      <li>Import the GroupNameRegistry application from <kbd>{{grpnameregRepositoryUrl}}</kbd>.
        <div><button (click)="openHowtoImportApplication('grpnamereg')" class="btn btn-outline-primary mb-2 mr-2">Click Here</button> to view instructions for importing applications from source countrol.</div>
        Once the application is imported, select the GroupNameRegistry application and close the Application Studio tab.
      </li>
      <li>Refresh the browser page in order to reload the navigation menu on the left-hand side.</li>
      <li>Navigate to <samp>Group Name Registry</samp> &rArr; <samp>Interop Group Names</samp>.
        <button (click)="openFigure('Example of changed navigation', 'assets/images/initialConfig/GroupNameRegiestryNavItem_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/GroupNameRegiestryNavItem_sm.png" alt="Click to view example of changed navigation" class="figure-img img-fluid rounded"
          />
        </button></li>
    </ol>
  </div>
</div>
