<div class="card">
  <div class="card-header">
    <h2 id="loadInitialGlobalUpdate">1. Initial Global Update Set</h2>
  </div>
  <div class="card-body">
    <div class="detail">Load and apply the initial global update set to prepare the instance.</div>
    <ol>
      <li class="align-text-top">
        Navigate to
        <samp>System Update Sets</samp> &rArr;
        <samp>Retrieved Update Sets</samp>
        <button (click)="openFigure('Navigation and related links example', 'assets/images/initialConfig/relatedLinks_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/relatedLinks_sm.png" alt="View navigation and related links example" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li class="align-text-top">Click on
        <samp>Import Update Set from XML</samp> under
        <em>Related Links</em>
      </li>
      <li class="align-text-top">Click on the
        <samp>Choose File</samp> button and upload the
        <a href="downloads/sys_remote_update_set_Initial_Setup.xml" target="_blank">sys_remote_update_set_Initial_Setup.xml</a> File in the
        <var>downloads</var> folder of this documentation.
        <button (click)="openFigure('Example of file upload dialog', 'assets/images/initialConfig/chooseFile_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/chooseFile_sm.png" alt="Click to view example of file upload dialog" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li class="align-text-top">Once it is loaded, open the update set and click the
        <samp>Preview Update Set</samp> button.
        <button (click)="openFigure('Example of uploaded upset set', 'assets/images/initialConfig/uploaded_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/uploaded_sm.png" alt="Click to view example of uploaded upset set" class="figure-img img-fluid rounded"
          />
        </button>
        &rArr;
        <button (click)="openFigure('Example of preview success popup', 'assets/images/initialConfig/previewSuccess_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/previewSuccess_sm.png" alt="View example of preview success popup" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li class="align-text-top">After it is validated, click the
        <samp>Commit Update Set</samp> to apply it.
        <button (click)="openFigure('Example of commit success popup', 'assets/images/initialConfig/commitSuccess_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/commitSuccess_sm.png" alt="View example of commit success popup" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importUtils">2. Import Utility Application</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will be importing a utility application which includes many utility framework functionality to support
      other scripts. This will also create a custom system property which can be used by automated processes to determine
      whether the current instance is for production, UAT, Testing, Development or if it is a sandbox instance.</div>
    <ol>
      <li class="align-text-top">
        Navigate to
        <samp>System Applications</samp> &rArr;
        <samp>Studio</samp>. Once you click on
        <samp>Studio</samp>, the application studio will open in separate browser tab.
        <button (click)="openFigure('Example of navigation', 'assets/images/initialConfig/systemApplicationsStudio_lg.png')" class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/systemApplicationsStudio_sm.png" alt="Click to view example of navigation" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li class="align-text-top">
        Click on the
        <samp>Import from Source Control</samp> button in the popup dialog.
        <button (click)="openFigure('Example of Select Application dialog', 'assets/images/initialConfig/importFromSourceControl_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importFromSourceControl_sm.png" alt="Click to view example of Select Application dialog"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">Enter credentials for connecting to the associated Git repository.
        <button (click)="openFigure('Example of git credentials dialog', 'assets/images/initialConfig/importApplicationDialog_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importApplicationDialog_sm.png" alt="Click to view example of git credentials dialog"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">Progress will be indicated as it imports the application. Once it is finished, click the
        <samp>Select Application</samp> button.
        <button (click)="openFigure('Example of application import progress', 'assets/images/initialConfig/gitImportProgress_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/gitImportProgress_sm.png" alt="Click to view example of application import progress"
            class="figure-img img-fluid rounded" />
        </button>
        &rArr;
        <button (click)="openFigure('Example of application import success', 'assets/images/initialConfig/gitImportSuccess_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/gitImportSuccess_sm.png" alt="Click to view example of application import success"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
      <li class="align-text-top">You should now see the imported application listed. Select the application in order to put your session in the correct
        scope, and then close out the
        <samp>Application Studio</samp> browser tab.
        <button (click)="openFigure('Example of application selections', 'assets/images/initialConfig/selectApplicationDialog_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/selectApplicationDialog_sm.png" alt="Click to view example of application selections"
            class="figure-img img-fluid rounded" />
        </button>
        &rArr;
        <button (click)="openFigure('Example of selected application', 'assets/images/initialConfig/importApplicationComplete_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/importApplicationComplete_sm.png" alt="Click to view example of selected application"
            class="figure-img img-fluid rounded" />
        </button>
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="uiconfig">3. Initial Config</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will specify whether the current instance is for production, UAT, Testing, Development or if it is a
      sandbox instance, and then you will execute a fix script to apply the corresponding color theme and other SDLC-related
      settings, such as the logo heading text.</div>
    <ol>
      <li>Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>Basic Configuration</samp>. If you are in the &quot;Util&quot; application scope, you will see the following message:
        <img src="assets/images/initialConfig/globalApplicationWarning.png" alt="Example of application selection dialog" class="figure-img img-fluid rounded"
        /> This is intentional. It is important to ensure you are in the &quot;Util&quot; application scope, otherwise the
        next change will not be saved.
      </li>
      <li>Set SDLC Config Stage to the ServiceNow SDLC stage for the current server.</li>
      <li>Change to the &quot;Global&quot; application scope.</li>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Initial Army Config</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take several minutes to finish. If
        you chose to let it run in the foreground, the logged output that occurred during script execution will be displayed
        when it is finished. At the bottom of the output, you should see a line that indicates it has succeeded.
        <br />
        <button (click)="openFigure('Example of completed fix script', 'assets/images/initialConfig/initialArmyConfigSuccess_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/initialArmyConfigSuccess_sm.png" alt="Click to view example of completed fix script"
            class="figure-img img-fluid rounded" />
        </button> Refresh the browser page to see the applied color scheme.
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="uploadLogoImage">4. Upload logo image</h2>
  </div>
  <div class="card-body">
    <div class="detail">To automate configuration settings for graphical images, it would require significant overhead. Therefore, the logo image
      will need to be uploaded manually.</div>
    <ol>
      <li>Ensure you are in the &quot;Global&quot; application scope.</li>
      <li>Navigate to
        <samp>System Properties</samp> &rArr;
        <samp>Basic Configuration</samp>.
      </li>
      <li>Scroll to the &quot;Banner Image&quot; property and click on the
        <samp>+</samp> icon to upload the banner image.
        <button (click)="openFigure('Example of banner image setting', 'assets/images/initialConfig/bannerImageSetting_lg.png')"
          class="btn btn-outline-primary mb-2 mr-2">
          <img src="assets/images/initialConfig/bannerImageSetting_sm.png" alt="Click to view example of banner image setting" class="figure-img img-fluid rounded"
          />
        </button>
      </li>
      <li>Upload the logo image corresponding to the SDLC stage you previously configured. You can download an image from one
        of the following links:
        <ul>
          <li>
            <a href="assets/downloads/Logo/logo_army_prod.png">
              <img src="assets/downloads/Logo/logo_army_prod.png" alt="Production Banner Logo" class="figure-img img-fluid rounded"
              /> Production
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_uat.png">
              <img src="assets/downloads/Logo/logo_army_uat.png" alt="UAT Banner Logo" class="figure-img img-fluid rounded"
              /> UAT
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_test.png">
              <img src="assets/downloads/Logo/logo_army_test.png" alt="Test Banner Logo" class="figure-img img-fluid rounded"
              /> Test
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_dev.png">
              <img src="assets/downloads/Logo/logo_army_dev.png" alt="Dev Banner Logo" class="figure-img img-fluid rounded"
              /> Dev
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_army_sb.png">
              <img src="assets/downloads/Logo/logo_army_sb.png" alt="Sandbox Banner Logo" class="figure-img img-fluid rounded"
              /> Sandbox
            </a>
          </li>
          <li>
            <a href="assets/downloads/Logo/logo_service-now.png">
              <img src="assets/downloads/Logo/logo_service-now.png" alt="OOTB Banner Logo" class="figure-img img-fluid rounded"
              /> Out-of-the-box
            </a>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="pluginActivate">5. Bulk Plugin Activation</h2>
  </div>
  <div class="card-body">
    <div class="detail">In this step you will launch a fix script which will activate plugins in the background. Plugin activation progress can
      be monitored from the progress workers list.</div>
    <ol>
      <li>Navigate to
        <samp>System Definition</samp> &rArr;
        <samp>Fix Scripts</samp>.</li>
      <li>Open the fix script named
        <var>Army Bulk Plugin Activation</var>.</li>
      <li>Click
        <samp>Run Fix Script</samp>.</li>
      <li>Click
        <samp>Proceed</samp> if you wish to wait for the script to finish; otherwise, click
        <samp>Proceed in Background</samp> to let it run in the background. This script can take a long time to finish.</li>
    </ol>
    <div class="detail">To monitor the progress of plugin activations, navigate to
      <samp>System Diagnostics</samp> &rArr;
      <samp>Progress Workers</samp>.</div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 id="importGrpNameReg">6. Import Group Names Registry Application</h2>
  </div>
  <div class="card-body">
    <div class="detail">The Group Names Registry applications provides a way of synchronizing User Group references between ServiceNow instances,
      such as Dev, Test and Production.</div>
  </div>
</div>
